<?xml version="1.0"?>
<launch>
    <!-- Default blank to do live calibration -->
    <arg name="file_path" default=""/>

    <arg name="sensor" default=""/>
    <!-- NOTE: as the depth camera is precalibrated we can jump straight to depth data -->
    <arg name="sensor_topics" default="$(find cares_hand_eye_calibration)/config/depth.yaml"/>

    <arg name="display" default="true"/>

    <!-- The input reference frames -->
    <arg name="robot_base_frame"     default="base_link" />
    <arg name="robot_effector_frame" default="stereo_pair/base_link" />
    <arg name="tracking_base_frame"  default="stereo_pair/left_frame" />

    <!-- Aruco Diamond IDs -->
    <arg name="centre"    default="11"/>
    <arg name="top_left"  default="6"/>
    <arg name="top_right" default="7"/>
    <arg name="bot_right" default="16"/>
    <arg name="bot_left"  default="15"/>

    <include file="$(find cares_hand_eye_calibration)/launch/auto_calibration.launch" pass_all_args="true"> 
    </include> 
</launch>
