<?xml version="1.0"?>
<launch>
    <!-- The input reference frames -->
    <arg name="eye_on_hand"           default="true" />
    <arg name="robot_base_frame"      default="base_link" />
    <arg name="robot_effector_frame"  default="ee_link" />
    <arg name="tracking_base_frame"   default="stereo1/left" />
    <arg name="tracking_marker_frame" default="camera_aruco_0" />
    <arg name="rotation_flag" default="11" />

    <arg name="serial_no"      default=""/>
    <arg name="json_file_path" default=""/>
    <arg name="camera"         default="camera"/>
    
    <!--<include file="$(find rig_controller)/launch/stereo_pair.launch" >
        <arg name="method" value="None" />
        <arg name="cameras" value="uoa_ur5_pair" />
    </include>-->

    <node name="stereo_calibration" pkg="cares_hand_eye_calibration" type="stereo_auto_calibration_node.py" output="screen">
        <param name="eye_on_hand"             value="$(arg eye_on_hand)"/>
        <param name="robot_base_frame"        value="$(arg robot_base_frame)" />
        <param name="robot_effector_frame"    value="$(arg robot_effector_frame)" />
        <param name="tracking_base_frame"     value="$(arg tracking_base_frame)" />
        <param name="tracking_marker_frame"   value="$(arg tracking_marker_frame)" />
	    <param name="rotation_flag"           value="$(arg rotation_flag)" />
    </node>
    

     
    <include file="$(find stereo_calibration)/launch/service_stereo_calibration.launch" ></include>
    <include file="$(find aruco_detector)/launch/stereo_detector_service.launch" ></include>
      <node name="hand_eye_solver"
          pkg="visp_hand2eye_calibration"
          type="visp_hand2eye_calibration_calibrator">
        <remap from="/compute_effector_camera_quick" to="compute_effector_camera_quick"/>
    </node>

    <!-- Setup rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find cares_hand_eye_calibration)/rviz/arm-mapping.rviz" />
<!--     <node type="rqt_gui" name="rqt_gui" pkg="rqt_gui" />
 -->    
</launch>
