<?xml version="1.0"?>
<launch>
    <!-- Default blank to do live calibration -->
    <arg name="file_path" default=""/>

    <!-- Init pose of the arm -->
    <arg name="init_x"  default="0.0"/>
    <arg name="init_y"  default="0.65"/>
    <arg name="init_z"  default="0.35"/>

    <arg name="planning_link" default="base_link"/>

    <arg name="platform_server" default="server"/>

    <arg name="sensor" default=""/>
    <!-- Stereo camera topics -->
    <!-- NOTE: precalibration we only have left and right images to work with -->
    <arg name="sensor_topics" default="$(find cares_hand_eye_calibration)/config/stereo_calibration.yaml"/>

    <arg name="display" default="true"/>

    <!-- The input reference frames -->
    <arg name="eye_on_hand"          default="true" />
    <arg name="robot_base_frame"     default="base_link" />
    <arg name="robot_effector_frame" default="stereo_pair/base_link" />
    <arg name="tracking_base_frame"  default="stereo_pair/left_frame" />

    <!-- Which control frame will be used to move the sensor around during calibration -->
    <arg name="robot_control_frame"  default="$(arg robot_effector_frame)" />

    <!--Charuco Board Parameters-->
    <arg name="board_width"   default="8"/><!--Number of corners-->
    <arg name="board_height"  default="5"/><!--Number of corners-->

    <arg name="square_length" default="45"/><!--mm-->
    <arg name="marker_length" default="23.0"/><!--mm-->

    <arg name="image_width"  default="1936"/>
    <arg name="image_height" default="1216"/>
    
    <!--1 Charuco-->
    <arg name="dictionary" default="3"/>
    <arg name="method"     default="1"/>

    <!-- Aruco Diamond IDs -->
    <arg name="centre"    default="83"/>
    <arg name="top_left"  default="74"/>
    <arg name="top_right" default="75"/>
    <arg name="bot_right" default="91"/>
    <arg name="bot_left"  default="90"/>
    <arg name="target_marker_id" default="0"/>

    <arg name="marker_type" default="diamond"/>

    <include file="$(find cares_hand_eye_calibration)/launch/auto_calibration.launch" pass_all_args="true"> 
    </include>
    
    <!-- Mono Charuco Detector Service -->
    <group if="$(eval marker_type == 'charuco')">
        <include file="$(find aruco_detector)/launch/mono_charuco_detector.launch" pass_all_args="true">
            <arg name="service" default="True"/>
        </include>
    </group>

    <!-- Stereo Diamond Detector Service -->     
    <group if="$(eval marker_type == 'diamond')">
        <include file="$(find aruco_detector)/launch/stereo_diamond_detector.launch" pass_all_args="true">
            <arg name="service" default="True"/>
        </include>
    </group>

    <!-- Stereo Calibration Service -->
    <include file="$(find stereo_calibration)/launch/service_stereo_calibration.launch" pass_all_args="true">
    </include>    
</launch>
