<?xml version="1.0"?>
<launch>
    <!-- Default blank to do live calibration -->
    <arg name="file_path" default=""/>

    <arg name="display" default="true"/>

    <!-- The input reference frames -->
    <arg name="robot_base_frame"     default="base_link" />
    <arg name="robot_effector_frame" default="stereo_pair/base_link" />
    <arg name="tracking_base_frame"  default="stereo_pair/left_frame" />

    <!-- Stereo camera topics -->
    <!-- NOTE: precalibration we only have left and right images to work with -->
    <arg name="left_image_topic"  default="" />
    <arg name="right_image_topic" default="" />

    <!--Charuco Board Parameters-->
    <arg name="board_width"   default="8"/><!--Number of corners-->
    <arg name="board_height"  default="5"/><!--Number of corners-->

    <arg name="square_length" default="45"/><!--mm-->
    <arg name="marker_length" default="23.0"/><!--mm-->

    <arg name="image_width"  default="1936"/>
    <arg name="image_height" default="1216"/>
    
    <!--1 Charuco-->
    <arg name="method" default="1"/>

    <!-- Aruco Diamond IDs -->
    <arg name="centre"    default="11"/>
    <arg name="top_left"  default="6"/>
    <arg name="top_right" default="7"/>
    <arg name="bot_right" default="16"/>
    <arg name="bot_left"  default="15"/>

    <include file="$(find cares_hand_eye_calibration)/launch/auto_calibration.launch" pass_all_args="true"> 
        <arg name="sensor" value="stereo"/>
    </include>
         
    <!-- Stereo Calibration Service -->
    <include file="$(find stereo_calibration)/launch/service_stereo_calibration.launch" pass_all_args="true">
    </include>    
</launch>
